<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ibatis方式进行数据库操作
     1、不要求写接口
     2、直接创建mapper.xml文件内部编写sql语句
     3、namespace没有任何要求，随便声明一个字符串即可
     4、内部通过crud标签声明sql语句即可
-->
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="xx.jj">

    <!-- 查询使用 select标签
            id = 方法名
            resultType = 返回值类型
            标签内编写SQL语句
            注意：mapper接口不能重载，否则xml文件无法识别
     -->
    <select id="kkk" resultType="com.atguigu.pojo.Student">
        <!-- #{empId}代表动态传入的参数,并且进行赋值!后面详细讲解 -->
        select * from student where sid = #{id}
    </select>

</mapper>